<p>
  Je suis un développeur logiciel qui aime écrire du code
  <strong>propre</strong>, <strong>maintenable</strong> et
  <strong>testable</strong>. J'aime apprendre de nouvelles choses et m'améliorer un peu chaque jour.
</p>
