---
import { projectPath, resolveLocale } from "../../i18n/locales";
import { translations } from "../../i18n/translations";
import { getCollection } from "astro:content";

const locale = resolveLocale(Astro.currentLocale);

const projectsContent = translations[locale].projects;
const allProjects = await getCollection("projects", ({ id }) => {
  return id.startsWith(`${locale}/`);
});
---

<h2>{projectsContent.title}</h2>
<ul>
  {
    allProjects.map((project) => (
      <li>
        <a href={projectPath(project.id)}>{project.data.title}</a>
      </li>
    ))
  }
</ul>

<style>
  h2 {
    margin: 0;
    font-size: clamp(2rem, 6vw, 4rem);
    text-align: center;
  }
</style>
