---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => {
    const [locale, slug] = project.id.split("/");
    return {
      params: { locale, slug },
      props: { project },
    };
  });
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout>
  <h1>{project.data.title}</h1>
  <Content />
</Layout>
