---
import ColorPill from "./ColorPill.js";
---

<div class="accent-color-picker header-control" data-header-control="menu">
  <button class="accent-color-picker-button header-button" aria-expanded="false">
    <ColorPill color="var(--accent-color)" />
  </button>

  <ul class="accent-color-picker-menu header-menu" hidden>
    <li></li>
  </ul>
</div>
