---
import ColorPill from "./ColorPill.astro";
import { accentColors } from "./accentColors.ts";
---

<div class="accent-color-picker header-control" data-header-control="menu">
  <button class="accent-color-picker-button header-button" aria-expanded="false">
    <ColorPill color="var(--accent-color)" />
  </button>

  <ul class="accent-color-picker-menu header-menu" hidden>
    {
      accentColors.map((accentColor) => (
        <li class="accent-color-picker-menu-item">
          <button
            class="accent-color-picker-menu-button"
            value={accentColor.id}
            aria-label={accentColor.label}
          >
            <ColorPill color={`var(--accent-${accentColor.id})`} />
          </button>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .accent-color-picker-menu:not([hidden]) {
    display: grid;
    grid-template-columns: 2rem;
    justify-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    min-width: 0;
  }

  .accent-color-picker-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background: none;
    cursor: pointer;
  }
</style>
