:root {
  color-scheme: light dark;
  --font-body: system-ui, sans-serif;
  --color-background: light-dark(#f7f4ee, #111116);
  --color-text: light-dark(#111116, #f7f4ee);
  --color-accent: light-dark(#85d685, #85d685);
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
  max-width: 80vw;
  margin: 0 auto;
}
