---
import { Menu } from "@lucide/astro";
---

<div class="header-control header-controls-cluster">
  <button class="header-button header-controls-cluster-button" aria-expanded="false">
    <Menu />
  </button>

  <div class="header-controls-cluster-menu">
    <slot />
  </div>
</div>

<style>
  .header-controls-cluster {
    display: flex;
  }

  @media (width < 640px) {
    .header-controls-cluster-menu {
      display: none;
    }

    .header-controls-cluster-button[aria-expanded="true"] ~ .header-controls-cluster-menu {
      display: flex;
      position: absolute;
      top: calc(100% + 0.35rem);
      right: 0;
      border: 1px solid var(--border-color);
      border-radius: 0.5rem;
      background-color: var(--background-color);
      box-shadow: 0 0.75rem 1.5rem var(--header-menu-shadow-color);
      overflow: visible;
    }

    :global(.header-menu) {
      position: static;
    }
  }

  @media (width >= 640px) {
    .header-controls-cluster-menu {
      display: flex;
    }

    .header-controls-cluster-button {
      display: none;
    }
  }
</style>

<script>
  const headerControlsClusterButton = document.querySelector(".header-controls-cluster-button")!;

  headerControlsClusterButton.addEventListener("click", () => {
    const toggledAriaExpanded =
      headerControlsClusterButton.ariaExpanded === "true" ? "false" : "true";
    headerControlsClusterButton.setAttribute("aria-expanded", toggledAriaExpanded);
  });
</script>
