---
import { localeNames, locales, resolveLocale } from "../../../i18n/locales";
import type { LocalizedUrls } from "../../../i18n/urls";

interface Props {
  localizedUrls: LocalizedUrls;
}

const { localizedUrls } = Astro.props;

const currentLocale = resolveLocale(Astro.currentLocale);
---

<div class="language-picker header-control" data-header-control="menu">
  <button class="header-button language-picker-button" aria-expanded="false"
    >{localeNames[currentLocale]}</button
  >
  <ul class="language-picker-menu header-menu" hidden>
    {
      locales.map((locale) => (
        <li class="language-picker-menu-item">
          <a
            class="language-picker-menu-link"
            aria-current={currentLocale === locale ? "true" : undefined}
            href={localizedUrls[locale]}
          >
            {localeNames[locale]}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .language-picker-menu-link[aria-current="true"] {
    color: var(--accent-color);
  }

  .language-picker-menu-link:hover {
    background-color: var(--hover-background-color);
  }

  .language-picker-menu-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text-color);
  }
</style>
