---
import { socialLinks } from "./socialLinks";
import SocialLink from "./SocialLink.astro";
---

<ul class="social-links">
  {
    socialLinks.map((socialLink) => (
      <li>
        <SocialLink link={socialLink} />
      </li>
    ))
  }
</ul>

<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
